# dependencias
node_modules/
.pnp
.pnp.js

# next
.next/
out/
build/
next-env.d.ts

# secretos — NUNCA versionar
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem

# vercel
.vercel

# sistema
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript
*.tsbuildinfo
